.candidateList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
  max-width: 1080px;
  margin: 0 auto;
  justify-content: center;
  background-color: #f3f3f3;
}

.customCard {
  height: 280px;
  width: 280px;
  background-color: #558fdb;
  border-radius: 12px;
  margin: 8px;
}
img {
  object-fit: fill;
  width: 280px;
  height: 220px;
}
span {
  margin: 0 0 10px;
  color: #444;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.75rem;
}

.candidateName {
  text-align: center;
}
